.card--block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    /* position: absolute;
    bottom: 5em; */
    /* position: absolute;
    bottom: 2em; */
}
#root{
    background-color: #d38c50 ;
    height: 50em;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 900;
}
table, th, td , tr {
    border:2px solid black !important;
    background-color: white;
    padding: 10px;
}
html{
    background-color:  #d38c50;
}



.score--dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30em;
}
.current--users{
    margin-bottom: 20px;
}

.rules{
    height: 10em;
    /* position: absolute;
    left: 0px;
    bottom: 1em; */
}


/* style={{ height: "15em", cursor: "pointer", margin: "10px" }} */

/* responsive code */
@media screen and (max-width: 500px) {
    .card {
        height: 100px !important;
        margin: 2px !important;
    }
     .reveal--card{
        height: 100px !important;  
     }
}